.App {
  text-align: center;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #1c5c91);
  background: -moz-linear-gradient(right, #76b852, #1c5c91);
  background: -o-linear-gradient(right, #76b852, #1c5c91);
  background: linear-gradient(to left, #76b852, #1c5c91);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}