.btn {
    color: #fff;
    background-color: #c98214;
    border-radius: 5px;
    border-color: #cea573;
    width: 200px;
    Height: 50px;
    padding-top: 4px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: 0.3s all;
    display: block;
    font-family: Fantasy, sans-serif;
    font-size: 1.5rem;
    text-shadow: 0 -2px rgba(0, 0, 0, 0.6), 0 2px rgba(255, 255, 255, 0.4);
}

.btn:hover {
    margin-top: -5px;
    margin-bottom: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}