.auction {
    position: relative;
    z-index: 1;
    background: #c1c9c4;
    max-width: 260px;
    margin: 0 auto 100px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    opacity: 0.7;
}
.auction h5 {
    margin: 0;
    padding: 0;
    color: #3c3c52;
    font-size: 25px;
    font-family: Fantasy;
}

